<div class="container main.container text-center">
  <div class="row">
    <div class="col-md-12 text-center">
      <h2>Formulario con arrays</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <form [formGroup]="form">
        <div class="form-group">
          <label for="">Nombre Equipo</label>
          <input type="text" name="equipo" placeholder="Nombre equipo" formControlName="equipo">
        </div>
        <div formArrayName="jugadores">
          <div class="card" *ngFor="let jugador of form.controls.jugadores.controls; let i=index">
            <div class="card-header">
              Jugador {{ i + 1 }}
              <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="removeJugador(i)">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="card-body" [formGroupName]="i">
              <div class="form-gorup">
                <label for="">Nombre</label>
                <input type="text" placeholder="Nombre Jugador" formControlName="nombre">
              </div>
              <div class="form-group">
                <label for="">Dorsal</label>
                <select name="dorsal" id="dorsal" formControlName="dorsal">
                  <option *ngFor="let num of dorsales" [value]="num">{{ num }}</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 add">
      <button class="btn btn-primary" (click)="addJugadoresForm()">Añadir otro jugador</button>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 add">
      <button class="btn btn-success" (click)="guardar()" [disabled]="!form.valid">Guardar Formulario</button>
    </div>
  </div>
</div>
